<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/angular/angular-material.min.css">
<link rel="stylesheet" href="popup.css">
</head>
<body data-ng-app="NTU_Robber">
	<div id="panel" data-ng-controller="PopController as pop">
		<div id="setting_category">
			<md-input-container>
				<label>Category</label>
				<md-select ng-model="pop.chosenCategoryKey">
					<md-option ng-repeat="(categoryKey, categoryObject) in pop.categoryList" value="{{categoryKey}}" 
					ng-disabled="pop.bookingStarted">
						{{categoryObject.name}}
					</md-option>
				</md-select>
			</md-input-container>
			
			<md-datepicker ng-model="pop.chosenDate" md-placeholder="Select Date" md-min-date="pop.minDate" ng-disabled="pop.bookingStarted"></md-datepicker>
		</div>
		
		<div id="setting_timerange">
			<md-input-container>
				<label>Start From</label>
				<md-select ng-model="pop.startTime">
					<md-option ng-repeat="time in pop.getStartTimeList()" value="{{time}}" 
					ng-disabled="pop.bookingStarted">
						{{time}}
					</md-option>
				</md-select>
			</md-input-container>
			
			<md-input-container>
				<label>End By</label>
				<md-select ng-model="pop.endTime">
					<md-option ng-repeat="time in pop.getEndTimeList()" value="{{time}}" 
					ng-disabled="pop.bookingStarted">
						{{time}}
					</md-option>
				</md-select>
			</md-input-container>
		</div>
		
		<div id="setting_userinfo">
			<md-input-container class="">
				<label>User name</label>
				<input ng-model="pop.username" type="text" required data-ng-disabled="pop.bookingStarted">
			</md-input-container>
			
			<md-input-container class="">
				<label>Password</label>
				<input ng-model="pop.password" type="password" required data-ng-disabled="pop.bookingStarted">
			</md-input-container>
		</div>
		
		<div id="feedback">
			<span ng-show="pop.success" class="success">You have booked {{pop.bookedInfo}}!</span>
			<span ng-show="!pop.success" class="trying">{{pop.bookedInfo}}</span>
		</div>

		<div class="bottomRow">
			<md-button class="md-fab md-mini md-primary" aria-label="Rob" data-ng-disabled="pop.bookingStarted"
			data-ng-click="pop.startSeatBooking()"
				>
			  抢
			</md-button>
			

			<md-button class="md-fab md-mini" aria-label="Rob" data-ng-disabled="!pop.bookingStarted"
			data-ng-click="pop.stopSeatBooking()"
				>
				<md-tooltip md-visible="demo.showTooltip" md-direction="{{demo.tipDirection}}">
					Close Process
				</md-tooltip>
			  &times
			</md-button>
		</div>

		

	</div>
<script src="jquery.js"></script>
<script src="angular/angular.min.js"></script> 
<script src="angular/angular-aria.min.js"></script> 
<script src="angular/angular-animate.min.js"></script> 
<script src="angular/angular-material.min.js"></script>
<script src="app.js"></script>
<script src="popup.js"></script>
<script src="util.js"></script>
<script src="constant.js"></script>
</body>
</html>
